body
{
  margin: 0;
  background-color: grey;
  padding: 0;
}

#canvas
{
  position: absolute;
  z-index: -1;
}

.toolbar {
  padding: 10px;
  /*float: right;*/
  background-color: #aaa;
  display: none;
}

.toolbar>button {
  margin: 10px;
}

.draggable
{
  padding: 15px;
  border: solid #EEE 3px;
  border-radius: 8px;
  background-color: #AAA;
  width: 18em;
  z-index: 1 ;
  position: absolute;
}

.card-selected
{
  box-shadow: 0em 0em 12px 8px lightgreen;
}

textarea
{
  max-width: 15em;
}
#cardTitle
{
  max-width: 15em;
}

.card-body
{
  display: none;
}

#current-color
{
  width: 100px;
}

/*nav-bar*/

#navBar,
#navBar ul,
#navBar ul li,
#navBar ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#navBar:after,
#navBar > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#navBar {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#navBar ul {
  background: #ffffff;
}
#navBar > ul > li {
  float: left;
}
#navBar.align-center > ul {
  font-size: 0;
  text-align: center;
}
#navBar.align-center > ul > li {
  display: inline-block;
  float: none;
}
#navBar.align-right > ul > li {
  float: right;
}
#navBar.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#navBar > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#navBar > ul > li.active > a,
#navBar > ul > li:hover > a,
#navBar > ul > li > a:hover {
  color: #ffffff;
}
#navBar > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#navBar > ul > li.active > a:after,
#navBar > ul > li:hover > a:after,
#navBar > ul > li > a:hover:after {
  background: #47c9af;
}
