body
{
  margin: 0;
  background-color: grey;
  padding: 0;
}

#canvas
{
  position: absolute;
  z-index: -1;
}

.toolbar {
  padding: 10px;
  float: right;
  background-color: #aaa;
}
.toolbar>button {
  margin: 5px;
}

.draggable
{
  padding: 15px;
  border: solid #EEE 3px;
  border-radius: 8px;
  background-color: #AAA;
  width: 18em;
  z-index: 1 ;
  position: absolute;
}

.right
{

}

.card-selected
{
  box-shadow: 0em 0em 12px 8px lightgreen;
}

textarea
{
  max-width: 15em;
}
#cardTitle
{
  max-width: 15em;
}

.card-body
{
  display: none;
}

#current-color
{
  width: 100px;
}
